@import "../../../styles/vars.scss";

.concerts-page-wrapper {
  margin: 100px;
  height: 100vh;
}

.loader-wrapper {
  display: flex;
  justify-content: center;
}

.concert-list-wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.concert-list-wrapper > div {
  margin: 20px;
}

.header > div {
  color: $theme-color-2;
  font-family: $body-font;
  font-weight: 700;
  letter-spacing: 1.5px;
  line-height: 130px;
}
