@import "../../../styles/vars.scss";

.concerts-page-wrapper {
  margin: 100px;
  height: 100vh;
}

.loader-wrapper {
  display: flex;
  justify-content: center;
}

.concert-list-wrapper > div {
  margin: 20px;
}

.header > div {
  color: #000;
  font-family: $heading-2-font;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 73px;
}
