@import "../../../styles/vars.scss";

.profile-main-view {
    width: 100%;
    padding: $profile-padding;
    display: flex;
    flex-direction: column;
}
.match-picture-size {
    object-fit: cover;
    width: $match-picture-dimension;
    height: $match-picture-dimension;
    max-height: $match-picture-dimension;
    max-width: 100%;
}
.details {
    display: flex;
    justify-content: space-around;
    .subtitle {
        font-size: $medium-font-size;
    }
    .name {
        font-size: $large-font-size;
        font-family: $subheading-font;
        font-weight: 600;
    }
    .type {
        font-size: $medium-font-size;
    }
    .artist-type {
        color: $theme-color-1;
    }
    .concert-type {
        color: $theme-color-2;
    }
    .detail {
        p {
            display: flex;
            align-items: center;
        }
    }
}
.details-body {
    flex-direction: column;

    .carousel {
        margin-top: 20px;
        width: 1020px;
        overflow: hidden;
        padding: 10px;

        .carousel-inner {
            display: flex;
            width: max-content;
        }

        .carousel-item {
            height: 100%;
            width: 150px;
            display: inline-block;
            margin-right: 20px;

            &:hover {
                transform: scale(1.03);
            }
        }

        .thumbnail {
            height: 150px;
            width: 150px;
            border-radius: 8px;
            box-shadow: 1px 1px 15px 3px rgba(0, 0, 0, 0.18);
        }
    }
}
.section-divider {
    width: 100%;
    height: 1px;
    background: $grey-light;
    margin-bottom: 20px;
}
.tracks-grid {
    margin: 20px 0;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);

    .track-item {
        display: flex;
    }
    .track-thumbnail {
        height: 80px;
        width: 80px;
        background-size: cover !important;
        border-radius: 3px;
        box-shadow: 1px 1px 15px 3px rgba(0, 0, 0, 0.18);
        margin-right: 20px;
    }

    .track-side {
        display: flex;
        flex-direction: column;
        justify-content: center;
        h3, p {
            margin: 0;
        }
    }
    
}