@import "../../../styles/vars.scss";

.header-wrapper {
  text-align: center;
}

.subtitle {
  font-size: $small-font-size;
}

.subtitle span {
  color: $theme-color-1;
}

.heading {
  font-size: $heading-font-size;
  color: $theme-color-2;
}
.subheading {
  font-size: $subheading-font-size;
  margin: $default-margin;
}
