$small-font: 10pt;
$medium-font: 16pt;
$subheading-font: 50px;
$heading-font: 100pt;
$overlay-x: 350px;
$overlay-y: 100px;
$default-margin: 10px 0;

.mask {   
  width: 1024px;
  margin-top:10px;
  margin-left: auto; 
  margin-right: auto;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
}

.home-wrapper {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 700;
  letter-spacing: 0.4px;
  line-height: 68px;
  height: 100vh;
}

.home-splash {
  background: url("/img/welcome-background.png") no-repeat center center fixed;
}

.cards-container {
  display: flex;
}

.cards-container div {
  margin: $default-margin;
}

