$body-font-color: rgb(178, 183, 191);
$theme-color-1: rgb(102, 77, 218);
$theme-color-2: rgb(85, 87, 115);
$small-font: 10pt;
$medium-font: 14pt;
$heading-font: 40pt;
$default-margin: 2% 0 2% 0;
$default-border: 2px solid rgb(233, 236, 242);
$profile-picture-dimension: 250px;

.image-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.image-picture {
  border: $default-border;
  object-fit: cover;
}

.pointer {
  cursor: pointer;
}

#image-input {
  display: none;
}

#overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0px;
}

.image-container {
  position: relative;
}

.image-container:hover #overlay {
  opacity: 1;
}

#overlay div {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
