@import "../../../styles/vars.scss";

.loading {
  position: absolute;
  top: 0;
  left: 7px;
  max-width: 100%;
  max-height: 100%;
}

.banner {
  position: absolute;
  top: 0;
  right: -30px;
  padding: 10px 40px 10px 100px;
  color: white;
  transform: rotate(35deg);
  font-size: 18px;
  letter-spacing: 2px;
  z-index: 1;
  box-shadow: $shadow;
}

.match-wrapper {
  position: relative;
  overflow: hidden;
  width: 375px;
  height: 525px;
  margin: 0 10px;
  margin-top: 56px;
  padding: 25px;
  border-radius: 25px;
  box-sizing: border-box;
  box-shadow: $shadow;
  transition: 0.6s ease all;

  .match-details {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #dfdfdf;
    margin-top: 20px;
    padding-top: 10px;
    .top-artists {
      color: gray;
    }
    .track-item {
      display: flex;
    }
    .track-thumbnail {
      height: 80px;
      width: 80px;
      background-size: cover !important;
      box-shadow: 1px 1px 15px 3px rgba(0, 0, 0, 0.18);
      margin-right: 20px;
    }

    .match-item {
      margin: $small-margin;
      a {
        display: flex;
        align-items: center;
        color: grey;
        font-family: Raleway;
      }
      .track-details {
        line-height: 0px;
        text-align: left;
      }
      .match-icon-wrapper {
        font-size: 24px;
        color: $theme-color-2;
        margin-right: 10px;
      }
    }

    .match-thumbnail {
      background: black;
      background-size: cover !important;
      height: 40px;
      width: 40px;
      margin: 0px 10px;
      margin-right: 10px;
      box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.18);
    }
  }

  .visible-on-hover {
    display: none;
  }
  .visible-on-hover:hover {
    display: block;
  }

  &.disappear {
    opacity: 0;
  }

  &.squash {
    transition: 1s ease all;
    margin: 0px;
    width: 0px;
  }

  &.hide {
    display: none;
  }

  &.type-concert {
    border-radius: 0px;
    box-shadow: none;
    border: 1px solid $grey;

    .banner {
      background: $theme-color-1;
    }

    .profile-picture {
      border-radius: 0;
      width: 100%;
      height: 100%;
    }

    .add-button {
      right: -20px;
    }

    .bio {
      padding: 20px;
      font-size: 20px;
    }

    .concert-calendar,
    .concert-location {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &.type-artist {
    .banner {
      background: $theme-color-3;
    }
  }
}

.image-wrap {
  position: relative;
}

.add-button {
  position: absolute;
  bottom: 0;
  right: 10%;
  color: $add-button-color;
  font-size: 50px;
  border: none;
  background: none;
}

.match-picture-size {
  object-fit: cover;
  width: $match-picture-dimension;
  height: $match-picture-dimension;
  max-height: $match-picture-dimension;
  max-width: 100%;
}

.match-wrapper .name {
  font-size: $medium-font-size;
  font-family: $subheading-font;
  line-height: 1.4em;
  font-weight: 600;
}

.match-wrapper .bio {
  font-size: $small-font-size;
  font-family: $body-font;
  color: gray;
}

.match-wrapper {
  text-align: center;
}
