@import "../../../styles/vars.scss";

#concert-header{
    font-size: 75px;
    color: $theme-color-2;
    text-align: center;
}

.concert-image-wrapper {
    width: 100%;
    height: 300px;
}

.concert-details-wrapper {
    margin: 50px;
    height: 100vh;
}

.concert-details-wrapper > div {
    margin: 5px;
}

.concert-info-wrapper {
    margin: 100px 200px;
    height: 100vh;
    font-size: 1.4em;
    font-weight: 500;
    color:  #666666;
}

.concert-main-wrapper {
    border-bottom: 1px solid #e0e0e0;
    padding: 10px;
    display: flex;

    img {
        width: 50%;
        height: 100%;
        filter: contrast(10);
    }

    .concert-title {
        font-family: $body-font;
        margin: 10px;
        width: 50%;
    }
}

.button-wrapper {
    display: flex;
    justify-content: left;
    width: 100px;
}

.info-wrapper {
    display: flex;
    justify-content: flex-end;
}

.info-button {
    color: white;
    border: none;
    border-radius: 5px;
    outline: none;
    background: #1c58ec;
    height: 35px;	
    font-weight: 700;	
    font-size: 0.55em;
    text-align: center;
    padding: 0px 8px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.15s all ease-in-out;

    &:hover {
        transform: scale(1.015);
    }

    &:active {
        transform: scale(0.985)
    }
    
}

.back-button {
    width: 100%;
    color: white;
    border:none;
    border-radius: 5px;
    outline: none;
    background: #1c58ec;
    font-size: 1.0em;
    height: 30px;
    font-size: 18px;	
    font-weight: 400;	
    text-align: center;
    padding: 0px 8px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.15s all ease-in-out;

    &:hover {
        transform: scale(1.015);
    }

    &:active {
        transform: scale(0.985)
    }
}

.section {
    height: 120px;
}

.section-content {
    margin: 8px 0px 5px 0px;
    font-size: 0.75em;
    color: black;
}

.concert-details {
    column-count: 3;
}