@import "../../../styles/vars.scss";

.person-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.profile-picture {
  border: $default-border;
  margin: 5px;
  cursor: pointer;
}

.profile-picture-circle {
  border-radius: 50%;
}

#profile-image-input {
  display: none;
}

#overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0px;
}

.profile-container {
  position: relative;
}

.profile-container:hover #overlay {
  opacity: 1;
}

#overlay div {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.profile-dropdown {
  position: fixed;
  padding: 20px;
  background: white;
  border: 1px solid $grey-light;
  top: 80px;

  .tooltip {
    width: 20px;
    height: 20px;
    background: white;
    transform: rotate(45deg);
    position: absolute;
    top: -9px;
    left: 14px;
    border: 1px solid $grey-light;
    z-index: -1;
  }

  .tooltip-block {
    position: absolute;
    width: 40px;
    height: 40px;
    background: white;
    top: 0px;
    left: 2px;
    z-index: -1;
  }

  .profile-main {
    display: flex;
    flex-direction: column;
  }

  .profile-link {
    padding: 10px 0;

    &:hover {
      color: $theme-color-1;
    }
  }
}

