$body-font-color: rgb(178, 183, 191);
// $background-color: white;
$theme-color: rgb(34, 85, 156);
$title-text-color: rgb(24, 39, 37);
$padding: 10px;
$border-top: 30px solid rgb(0, 90, 168);


body {
background-color: rgb(255, 255, 255);
}

.title-text {
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30pt;
    color: black;
    margin: 50px;
    margin-left: 300px;
  }


