$body-font-color: rgb(178, 183, 191);
// $background-color: white;
$theme-color: rgb(34, 85, 156);
$title-text-color: rgb(24, 39, 37);
$padding: 10px;
$border-top: 30px solid rgb(0, 90, 168);


body {
background-color: rgb(255, 255, 255);
}

.title-text {
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30pt;
    color: black;
    margin: 50px;
    margin-left: 300px;
  }
  .icon-cog {
    color: lightgreen;
  }

  .card-container {
    border: 1px solid rgb(24, 39, 37);
    width: 500px;
    height: 700px;
    margin: 0 auto;
    margin-top: 56px;
    border-radius: 25px;
    box-sizing: border-box;
    box-shadow: -8px 9px 16px -3px gray;
   }

   .card-background {
    height: 600px;
    margin: 20px 20px 0 20px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 8%;
    border-bottom-right-radius: 8%;
    background-color: #bbb;
   }

   .card-frame {
    z-index: 1;
    position: relative;
    height: 108%;
    max-width: 97%;
    left: 1%;
    top: 0.5%;
    left: 1.2%;
    display: flex;
    flex-direction: column;
   }

