$medium-font: 14pt;
$default-margin: 2% 0 2% 0;
$default-border: 2px solid rgb(233, 236, 242);

#title {
  padding: 0;
}

input {
  color: black;
  line-height: 2em;
  margin: $default-margin;
  font-size: $medium-font;
  border: $default-border;
}
