@import "../../../styles/vars.scss";


a {
  text-decoration: none;
}

.concert-wrapper {

  position: relative;
  border: 2px solid $grey;

  img {
    width: 100%;
    height: auto;
  }

  .thumbnail {
    position: relative;
    height: 200px;
    margin: 0;
    .img {
      background-size: cover;
      height: 100%;
    }
    .default-under {
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      background-position: 50% 50%;
    }
  }

  

  &:hover {
    cursor: pointer;
    transform: scale(1.015);
  }

  .concert-inner-wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin: 0;
    border-top: none;
    margin-top: 0px;
    height: 300px;
    overflow: scroll;
    border-top: 1px solid $grey;
  }
  
  
  .details-wrapper {

    .location {
      color: #000;
      font-family: $body-font;
      font-size: $small-font-size;
      letter-spacing: 0.8px;
      line-height: 20px;
      margin: 8px 0px 0px 0px;
    }

    .title {
      color: #000;
      text-transform: uppercase;
      font-family: $body-font;;
      font-size: $large-font-size;
      font-weight: 700;
      letter-spacing: 1.07px;
      line-height: 31px;
    }
    .description {
      color: rgba(0, 0, 0, 100);
      font-family: $body-font;
      font-size: $small-font-size;
      line-height: 24px;
    }
  }

  .ticket-bottom {
    border-top: 1px solid $grey;
    margin: 0;
    padding: 20px;
  }
}

.concert-wrapper > div {
  margin: $small-margin;
}

.image-wrapper {
  flex-basis: 40%;
}

.concert-details {
  flex-direction: column;
  justify-content: flex-end;
}