$theme-color-1: rgb(102, 77, 218);
$theme-color-2: rgb(85, 87, 115);
$small-font: 10pt;
$subheading-font: 20pt;
$heading-font: 40pt;
$default-margin: 2% 0 2% 0;

.header-wrapper {
  text-align: center;
}

.subtitle {
  font-size: $small-font;
}

.subtitle span {
  color: $theme-color-1;
}

.heading {
  font-size: $heading-font;
  color: $theme-color-2;
}
.subheading {
  font-size: $subheading-font;
  margin: $default-margin;
}
