$body-font-color: rgb(178, 183, 191);
$theme-color-1: rgb(102, 77, 218);
$theme-color-2: rgb(85, 87, 115);
$small-font: 10pt;
$medium-font: 14pt;
$heading-font: 40pt;
$default-margin: 2% 0 2% 0;
$default-border: 2px solid rgb(233, 236, 242);

.profile-column1-wrapper {
  color: $body-font-color;
  margin: 5%;
}

.intune-subtitle {
  font-size: $small-font;
}

.intune-subtitle span {
  color: $theme-color-1;
}

.profile-heading {
  font-size: $heading-font;
  color: $theme-color-2;
}

.profile-subheading {
  font-size: $small-font;
  margin: $default-margin;
}

.profile-details-wrapper {
  margin: $default-margin;
  display: flex;
  justify-content: center;
}

.profile-music-type-wrapper form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
}

.profile-picture-wrapper {
  margin-right: 5%;
}

.person-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: $default-margin;
}

.profile-picture {
  border: $default-border;
  object-fit: cover;
  width: 192px;
  height: 192px;
  max-height: 192px;
  max-width: 100%;
  cursor: pointer;
}

#profile-image-input {
  display: none;
}

#profile-music-form input {
  margin: $default-margin;
  font-size: $medium-font;
  border: $default-border;
}
