$body-font-color: rgb(178, 183, 191);
$theme-color-1: rgb(102, 77, 218);
$theme-color-2: rgb(85, 87, 115);
$small-font: 10pt;
$medium-font: 14pt;
$heading-font: 40pt;
$default-margin: 2% 0 2% 0;
$default-border: 2px solid rgb(233, 236, 242);

.profile-column1-wrapper {
  color: $body-font-color;
  margin: 5%;
}

.profile-details-wrapper {
  margin: $default-margin;
  display: flex;
  justify-content: center;
}

.profile-music-type-wrapper form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
}

.profile-picture-wrapper {
  margin-right: 5%;
}

.person-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.profile-picture {
  border: $default-border;
  object-fit: cover;
  width: 192px;
  height: 192px;
  max-height: 192px;
  max-width: 100%;
  cursor: pointer;
}

.profile-picture:hover {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

#profile-image-input {
  display: none;
}

#profile-music-form input {
  margin: $default-margin;
  font-size: $medium-font;
  border: $default-border;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.5);
}

.profile-container {
  position: relative;
}

.profile-container:hover .overlay {
  opacity: 1;
}

.overlay div {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
