@import "../../../styles/vars.scss";

.profile-loader {
  margin-top: 100px;
}

.picture-picture-size {
  object-fit: cover;
  width: $profile-picture-bg-dimension;
  height: $profile-picture-bg-dimension;
  max-height: $profile-picture-bg-dimension;
  max-width: 100%;
}

.profile-wrapper {
  background: $profile-background;
  height: 100vh;
  margin: 0 200px;
  font-weight: bold;
  font-family: $body-font;
  color: $body-font-color;
}

.profile-content-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.profile-content-wrapper div {
  padding: 0 15px 0 15px;
}

input {
  line-height: 2em;
  margin: $default-margin;
  font-size: $medium-font-size;
  border: $default-border;
}

.save-button {
  padding: 10px;
  font-size: 15pt;
  color: white;
  background: $theme-color-1;
  border-radius: 25px / 17px;
  width: 200px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
}
