$body-font-color: rgb(178, 183, 191);
$theme-color-1: rgb(102, 77, 218);
$theme-color-2: rgb(85, 87, 115);
$small-font: 10pt;
$medium-font: 14pt;
$heading-font: 40pt;
$default-margin: 2% 0 2% 0;
$default-border: 2px solid rgb(233, 236, 242);

.profile-wrapper {
  color: gray;
}

.profile-title {
  color: gray;
  font-size: 8pt;
  justify-content: left;
  flex-direction: column;
  font-weight: 100;
}

